@model CineAvalia.Models.Filme

@{
    ViewData["Title"] = "Detalhes Filme";
}

<h1>Detalhes</h1>

<div>
    <h4>Filme</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AnoLancamento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AnoLancamento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Descricao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descricao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Genero)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Genero.Nome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Produtora)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Produtora.Nacionalidade)
        </dd>
    </dl>
</div>

<!-- Exibição da Imagem -->
@if (Model.Imagem != null && Model.Imagem.Length > 0)
{
    <div class="form-group">
        <label>Imagem:</label><br />
        <img src="data:image;base64,@Convert.ToBase64String(Model.Imagem)" class="img-fluid" />
    </div>
}
else
{
    <p>Nenhuma imagem disponível.</p>
}

<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Editar</a> |
    <a asp-action="Index">Retornar</a>
</div>


<!-- Exibição das Avaliações -->
<h2>Avaliações</h2>
<ul>
    @if (Model.Avaliacoes != null && Model.Avaliacoes.Any())
    {
        foreach (var avaliacao in Model.Avaliacoes)
        {
            <table class="table">
                <thead>
                    <tr>
                        <th>Nota</th>
                        <th>Comentário</th>
                        <th>Data Avaliação</th>
                        <th>Usuário</th>
                    </tr>
                </thead>
                <tbody>
                        <tr>
                            <td>@avaliacao.Nota</td>
                            <td>@avaliacao.Comentario</td>
                            <td>@avaliacao.DataAvaliacao</td>
                            <td>@avaliacao.Usuario.Nome</td>
                        </tr>
                </tbody>
            </table>
        }
    }
    else
    {
        <p>Nenhuma avaliação encontrada.</p>
    }

</ul>
